
.section {
    height: 400px;
}

.images {
    max-width: 600px;
    margin: 0 auto;
}

.black-background {
    background: rgb(12, 12, 12);
    background: linear-gradient(180deg, rgba(12, 12, 12, 1) 0%, rgb(21, 21, 21) 50%, rgb(21, 21, 21) 100%);
}

.green-background {
    background: rgb(32,113,51);
    background: linear-gradient(0deg, rgba(32,113,51,1) 0%, rgba(28,98,64,1) 100%);
}

#index-top {
    height: 20vh;
}

#index-top-text {
    margin-top: 35%;
}


@media only screen and (max-width: 350px) {
    .header-text h1 {
        font-size: 35px;
    }
}


@media only screen and (min-width: 1000px) {
    #index-top {
        height: 400px;
    }

    .header-text h1 {
        font-size: 70px;
    }

    #index-top-text {
        margin-top: 100px;
    }

}

@media only screen and (min-width: 1133px) {
    .black-background {
        background: rgb(3, 3, 3);
        background: linear-gradient(180deg, rgba(5, 5, 5, 1) 0%, rgb(21, 21, 21) 50%, rgb(21, 21, 21) 100%);
    }
}


