
.images {
    max-width: 600px;
    margin: 0 auto;
}

.value-icons {
    max-width: 400px;
    margin: 0 auto;
}

.black-background {
    background: rgb(12, 12, 12);
    background: linear-gradient(180deg, rgba(12, 12, 12, 1) 0%, rgb(21, 21, 21) 50%, rgb(21, 21, 21) 100%);
}

.carousel-height {
    height: 600px;
}

.green-background {
    background: rgb(32, 113, 51);
    background: linear-gradient(0deg, rgba(32, 113, 51, 1) 0%, rgba(28, 98, 64, 1) 100%);
}

.blue-background {
    background: rgb(32, 54, 113);
    background: linear-gradient(0deg, rgba(32, 54, 113, 1) 0%, rgba(28, 88, 98, 1) 100%);
}

.footer-background {
    background: rgb(27, 27, 27);
    background: linear-gradient(180deg, rgba(27, 27, 27, 1) 0%, rgba(17, 17, 17, 1) 100%);
}

#index-top {
    height: 20vh;
}

#index-top-text {
    margin-top: 35%;
}

.contact-page {
    height: 1000px;
}

.space {
    padding-top: 100px;
}

.contact-form {
    max-width: 800px;
    margin: 0 auto;
}

@media only screen and (max-width: 350px) {
    .header-text h1 {
        font-size: 35px;
    }
}

@media only screen and (max-width: 400px) {
    .carousel-height {
        height: 450px;
    }
}


@media only screen and (min-width: 1000px) {
    #index-top {
        height: 400px;
    }

    .header-text h1 {
        font-size: 70px;
    }

    #index-top-text {
        margin-top: 100px;
    }

    .limit-text-width {
        max-width: 550px;
    }

}

@media only screen and (min-width: 1133px) {
    .black-background {
        background: rgb(3, 3, 3);
        background: linear-gradient(180deg, rgba(5, 5, 5, 1) 0%, rgb(21, 21, 21) 50%, rgb(21, 21, 21) 100%);
    }
}


